In [1]:
sr_list = [1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25,26,27,28,29,30,31,32,33,34,35,36,37,38,39,40,41,42,43,44,45,46,47,48,49,50,51,52,53,54,55,56,57,58,59,60,61,62,63,64,65]
 
date_list =["03-01-2016","03-01-2016","03-01-2016","03-01-2016","03-01-2016","10-01-2016","10-01-2016","10-01-2016","10-01-2016","10-01-2016","17-01-2016","17-01-2016","17-01-2016","17-01-2016","17-01-2016","24-01-2016","24-01-2016","24-01-2016","24-01-2016","24-01-2016","31-01-2016","31-01-2016","31-01-2016","31-01-2016","31-01-2016","07-02-2016","07-02-2016","07-02-2016","07-02-2016","07-02-2016","14-02-2016","14-02-2016","14-02-2016","14-02-2016","14-02-2016","21-02-2016","21-02-2016","21-02-2016","21-02-2016","21-02-2016","28-02-2016","28-02-2016","28-02-2016","28-02-2016","28-02-2016","06-03-2016","06-03-2016","06-03-2016","06-03-2016","06-03-2016","13-03-2016","13-03-2016","13-03-2016","13-03-2016","13-03-2016","20-03-2016","20-03-2016","20-03-2016","20-03-2016","20-03-2016","27-03-2016","27-03-2016","27-03-2016","27-03-2016","27-03-2016"]
 
city_list = ["Douglas Bisbee","Kingman","Phoenix","Tucson","Winslow","Douglas Bisbee","Kingman","Phoenix","Tucson","Winslow","Douglas Bisbee","Kingman","Phoenix","Tucson","Winslow","Douglas Bisbee","Kingman","Phoenix","Tucson","Winslow","Douglas Bisbee","Kingman","Phoenix","Tucson","Winslow","Douglas Bisbee","Kingman","Phoenix","Tucson","Winslow","Douglas Bisbee","Kingman","Phoenix","Tucson","Winslow","Douglas Bisbee","Kingman","Phoenix","Tucson","Winslow","Douglas Bisbee","Kingman","Phoenix","Tucson","Winslow","Douglas Bisbee","Kingman","Phoenix","Tucson","Winslow","Douglas Bisbee","Kingman","Phoenix","Tucson","Winslow","Douglas Bisbee","Kingman","Phoenix","Tucson","Winslow","Douglas Bisbee","Kingman","Phoenix","Tucson","Winslow"]
 
max_temp_list = [57,54,69,69,42,52,49,57,56,45,60,55,63,64,47,67,60,70,72,56,66,61,71,71,56,58,51,64,62,44,76,72,85,83,65,80,74,85,84,71,75,71,83,80,66,82,77,86,85,75,70,68,77,75,66,80,77,87,84,72,77,71,83,82,69]
min_temp_list = [24,25,45,43,15,30,34,47,41,25,21,26,40,34,15,26,34,45,39,21,23,30,45,38,21,19,26,40,34,15,27,34,54,44,20,37,39,55,50,29,32,36,55,46,24,38,43,59,53,34,33,37,53,46,28,36,40,57,50,30,33,39,58,50,30]
 
wind_speed_list = [4.2,4.2,5.8,12.93,2.7,4.5,5.17,3.64,4.98,3.81,4.02,2.62,1.67,1.95,1.84,3.18,4.24,1.84,3.54,3.48,4.98,8.55,2.84,3.85,5.81,6.04,6.88,4.25,4.68,5.18,3.5,4.6,2.94,3.68,1.62,3.17,7.75,2.12,2.25,4.7,5.88,5.52,2.88,4.54,3.85,4.51,8.31,2.96,3.66,4.85,5.11,7.84,4.28,3.42,5.41,4.12,4.07,1.48,1.71,4.12,6.77,7.51,3.84,3.51,8.68]

In [2]:
# importing the required library
import pandas as pd
 
# Defining the DataFrame
weather = pd.DataFrame({'record_date':date_list, \
                        'city':city_list, \
                        'max_temp':max_temp_list, \
                        'min_temp': min_temp_list, \
                        'wind_speed': wind_speed_list}, \
                       index = sr_list)
 
# Printing the DataFrame
weather

   record_date            city  max_temp  min_temp  wind_speed
1   03-01-2016  Douglas Bisbee        57        24        4.20
2   03-01-2016         Kingman        54        25        4.20
3   03-01-2016         Phoenix        69        45        5.80
4   03-01-2016          Tucson        69        43       12.93
5   03-01-2016         Winslow        42        15        2.70
..         ...             ...       ...       ...         ...
61  27-03-2016  Douglas Bisbee        77        33        6.77
62  27-03-2016         Kingman        71        39        7.51
63  27-03-2016         Phoenix        83        58        3.84
64  27-03-2016          Tucson        82        50        3.51
65  27-03-2016         Winslow        69        30        8.68

[65 rows x 5 columns]

In [26]:
temp_df = weather.copy()

##### Function to convert from Fahrenheight to Celsius.

In [21]:
temp_df['max_temp'] = round((temp_df['max_temp'] - 32) * 5 / 9, 2)

In [27]:

temp_df[['min_temp', 'max_temp']] = temp_df[['min_temp', 'max_temp']].applymap(lambda x: round((x-32)*5/9, 2))

In [28]:
temp_df

   record_date            city  max_temp  min_temp  wind_speed
1   03-01-2016  Douglas Bisbee     13.89     -4.44        4.20
2   03-01-2016         Kingman     12.22     -3.89        4.20
3   03-01-2016         Phoenix     20.56      7.22        5.80
4   03-01-2016          Tucson     20.56      6.11       12.93
5   03-01-2016         Winslow      5.56     -9.44        2.70
..         ...             ...       ...       ...         ...
61  27-03-2016  Douglas Bisbee     25.00      0.56        6.77
62  27-03-2016         Kingman     21.67      3.89        7.51
63  27-03-2016         Phoenix     28.33     14.44        3.84
64  27-03-2016          Tucson     27.78     10.00        3.51
65  27-03-2016         Winslow     20.56     -1.11        8.68

[65 rows x 5 columns]

Which of the following cities recorded the lowest temperatures on March 6, 2016?

In [35]:
temp_df[temp_df['record_date'] == '06-03-2016'].sort_values(by=["max_temp", "min_temp"], ascending=True)

   record_date            city  max_temp  min_temp  wind_speed
50  06-03-2016         Winslow     23.89      1.11        4.85
47  06-03-2016         Kingman     25.00      6.11        8.31
46  06-03-2016  Douglas Bisbee     27.78      3.33        4.51
49  06-03-2016          Tucson     29.44     11.67        3.66
48  06-03-2016         Phoenix     30.00     15.00        2.96

In [33]:
temp_df['record_date'].unique()

array(['03-01-2016', '10-01-2016', '17-01-2016', '24-01-2016',
       '31-01-2016', '07-02-2016', '14-02-2016', '21-02-2016',
       '28-02-2016', '06-03-2016', '13-03-2016', '20-03-2016',
       '27-03-2016'], dtype=object)

Which city recorded the lowest wind speed, and which city recorded the highest wind speed over our observation period?

In [81]:
min_wind_speed = temp_df['wind_speed'].min()

temp_df[(temp_df['wind_speed'] == temp_df['wind_speed'].max()) | (temp_df['wind_speed'] == temp_df['wind_speed'].min())].sort_values(by='wind_speed', ascending=False)

   record_date     city  max_temp  min_temp  wind_speed
4   03-01-2016   Tucson     20.56      6.11       12.93
58  20-03-2016  Phoenix     30.56     13.89        1.48

1     False
2     False
3     False
4     False
5     False
      ...
61    False
62    False
63    False
64    False
65    False
Name: wind_speed, Length: 65, dtype: bool